body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Background TV Image */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

/* Menu overlay (centered inside the TV screen) */
.menu-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Adjust width/height to fit inside the blue screen */
    width: 40vw;
    max-width: 430px;
    padding: 20px 10px;

    text-align: center;
    z-index: 2;

    color: #ffd86b;
}

/* Title text */
.menu-title {
    margin: 0;
    margin-bottom: 2px;
    font-size: 2.3rem;
    color: white;
    text-shadow: 2px 2px #00000066;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Yellow underline */
.title-line {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 60%;
    height: 4px;
    background: #ffd86b;
    border: none;
    border-radius: 5px;
    margin-bottom: 22px;
}

/* Menu list */
.menu-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    padding: 10px;
}

/* Menu items */
.menu-item {
    font-size: 1.6rem;
    margin: 14px 0;
    cursor: pointer;
    transition: 0.25s;
    text-shadow: 1px 1px #00000077;
}

.menu-item:hover {
    transform: scale(1.15);
    color: white;
}

.debug {
    color: #ffec9a;
}
